body { 
    background-image: url('/baynatna/Beynatna_splash.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
#arabic-launch-text {
	color: #888888;
}
#splash-image {
}

#countdown-container {
	color: #888888;
	/*font-size:10em; */
}
